<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- A dedicated resolver component avoids OEMs filtering a launcher activity from
             ACTION_OPEN_DOCUMENT candidates. The target activity detects the incoming action. -->
        <activity-alias
            android:name=".FilePickerActivity"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:visibleToInstantApps="true">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <!-- LocalSend opens received folders with ACTION_VIEW and the platform directory
             MIME type. Register a separate resolver entry so ANE is offered for that flow. -->
        <activity-alias
            android:name=".DirectoryViewerActivity"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="inode/directory" />
                <data android:mimeType="resource/folder" />
                <data android:mimeType="vnd.android.document/directory" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".plugin.image.ui.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".plugin.video.ui.VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".plugin.audio.ui.AudioPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".plugin.text.editor.TextEditorActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <receiver
            android:name=".openwith.ChosenAppReceiver"
            android:exported="false" />
        <provider
            android:name=".provider.LocalFileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name=".provider.LocalDocumentsProvider"
            android:authorities="${applicationId}.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>
</manifest>
