<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".plugin.image.ui.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".plugin.video.ui.VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".plugin.audio.ui.AudioPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".plugin.text.editor.TextEditorActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <provider
            android:name=".provider.LocalFileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>
